.ho {
  color: #2cbdee;
}
@media (min-width: 450px) {
  .flecha--right {
    display: none;
  }
}
.exchange-container {
  background-color: #eeeeee;
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.exchange-container .backgroundImg {
  background: url('../../assets/img/Bitcoin.svg') center / cover no-repeat;
  width: 200px;
  height: 200px;
  margin: 0 auto 50px auto;
}
.exchange-container .exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
}
.exchange-container .exchange-container--title h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: #201E1C;
}
.exchange-container .exchange-container--title p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;
  color: #757575;
  margin-bottom: 30px;
}
.exchange-container .tables-container::-webkit-scrollbar {
  background-color: #FFE9D5;
  height: 3px;
}
.exchange-container .tables-container::-webkit-scrollbar-thumb {
  background-color: #F7931A;
}
.exchange-container .tables-container {
  display: flex;
  height: max-content;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  margin: 10px 5%;
}
@media (min-width: 930px) {
  .exchange-container .tables-container {
    justify-content: center;
  }
}
.exchange-container .tables-container .currency--table {
  scroll-snap-align: center;
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  margin: 5px 30px;
}
.exchange-container .tables-container .currency--table .currency--table__title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.3rem;
  color: #F7931A;
  padding-right: 30%;
}
@media (min-width: 930px) {
  .exchange-container .tables-container .currency--table .currency--table__title {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
}
.exchange-container .tables-container .currency--table__container {
  width: 100%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}
.exchange-container .tables-container .currency--table__container table {
  width: 100%;
  height: 100%;
}
.exchange-container .tables-container .currency--table__container table td {
  width: 55%;
  background-color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 500px;
  line-height: 1.9rem;
  color: #BABABA;
  text-align: left;
}
@media (min-width: 930px) {
  .exchange-container .tables-container .currency--table__container table td {
    font-size: 1.9rem;
  }
}
.exchange-container .tables-container .currency--table__container table .table__left {
  padding-left: 10px;
}
.exchange-container .tables-container .currency--table__container table .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
  text-align: center;
}
@media (min-width: 930px) {
  .exchange-container .tables-container .currency--table__container table .table__right {
    font-size: 1.7rem;
  }
}
.exchange-container .tables-container .currency--table__container table .table--top__left {
  border-radius: 15px 0 0 0;
}
.exchange-container .tables-container .currency--table__container table .table--top__right {
  border-radius: 0 15px 0 0;
}
.exchange-container .tables-container .currency--table__container table .table--bottom__right {
  border-radius: 0 0 15px 0;
}
.exchange-container .tables-container .currency--table__container table .table--bottom__left {
  border-radius: 0 0 0 15px;
}
.exchange-container .tables-container .currency--table__actualizado {
  font-family: "DM Sans", sans-serif;
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 20px;
  background-color: #fcbe85;
  border-radius: 8px;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: #201E1C;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exchange-container .tables-container .currency--table__actualizado span {
  font-weight: 700;
  color: black;
}
@media (min-width: 930px) {
  .exchange-container .exchange-container--title h2 {
    font-size: 3rem;
  }
  .exchange-container .exchange-container--title p {
    font-size: 1.8rem;
  }
}
.trending--up {
  display: inline-block;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  background: url('../../assets/icons/trending-up.svg') center / cover no-repeat;
  color: #07D635;
  margin-bottom: -3px;
}
.trending--down {
  display: inline-block;
  margin-bottom: -3px;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  background: url('../../assets/icons/trending-down.svg') center / cover no-repeat;
  color: #F5450D;
}
