.bitcoin--img__container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background: url('../../assets/img/bitcoinbaby2x.png') center / cover no-repeat;
}
.bitcoin--img__container h2 {
  color: white;
  font-family: "DM Sans", sans-serif;
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
}
